* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
}

html, body {
    width: 100%;
    height: 100%;
}

.main {
    position: absolute;
    width: 360px;
    height: 220px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 6px;
    padding-top: 16px;
}

.main .text {
    font-size: 16px;
    margin: 16px 0;
}

.main .text-version {
    font-weight: bolder;
    padding-left: 4px;
}

.main .btn {
    margin-left: 4px;
    padding: 2px 4px;
}

.progress-bar {
    width: 100%;
    height: 6px;
    background-color: red;
    border-radius: 2px;
    margin-top: 24px;
}

#latest_version, #btn_update {
    display: none;
}

.update-box {
    opacity: 0;
}

#text_update {
    color: #656565;
    font-size: 12px;
}