* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    margin: auto;
    overflow-y: auto;
    background-color: #333;
}

.tree {
    position: relative;
    width: 240px;
    height: 100%;
    float: left;
    padding: 12px 0;
    border-right: 2px solid rgba(21, 23, 22, 0.4);
    overflow: auto;
}

.tree::-webkit-scrollbar {
    width: 4px;
    background-color: #222;
    color: #919192;
}

.tree::-webkit-scrollbar-thumb {
    background-color: #dcdcde;
}

.tree::-webkit-scrollbar-track {
    background-color: #222;
}

.tree .inputbox-search {
    width: 80%;
    margin-left: 8px;
    border: none;
    border-radius: 4px;
    padding: 6px 8px;
    font-size: 14px;
    display: block;
    float: left;
    outline: none;
    font-family: Arial, Verdana, Tahoma, sans-serif;
}

.tree .search-bar img {
    display: block;
    float: left;
    width: 24px;
    margin-left: 6px;
    margin-top: 2px;
    cursor: pointer;
    filter: brightness(0.65);
    transition: all .25s ease;
}

.tree .search-bar img:hover {
    filter: brightness(1);
}

.tree .list-firmware {
    padding: 12px 0;
}

.tree .list-firmware .firmware {
    font-size: 16px;
    font-family: Arial;
    color: #eee;
    padding: 10px 16px;
    cursor: pointer;
    transition: all .25s ease;
    background-color: transparent;
    user-select: none;
}

.tree .list-firmware .firmware:hover {
    background-color: rgba(0, 105, 201, 0.6);
}

.tree .list-firmware .firmware.selected {
    background-color: rgb(0, 105, 201);
}

.tree .list-firmware .firmware.undownload {
    color: #878688;
}

.tree .list-firmware .firmware.undownload.selected {
    color: #333;
}

.tree .list-firmware .firmware-box {
    position: relative;
}

.tree .list-firmware .firmware-box img {
    position: absolute;
    top: 8px;
    display: none;
    filter: brightness(0.55);
    cursor: pointer;
}

.tree .list-firmware .firmware-box:hover img {
    display: block;
}

.tree .list-firmware .firmware-box:hover img:hover {
    filter: brightness(1);
}

.tree .list-firmware .firmware-box img.img-download {
    right: 40px;
}

.tree .list-firmware .firmware-box img.img-remove {
    right: 8px;
}

.burner {
    float: left;
    width: calc(100% - 240px);
    height: 100%;
    padding: 12px 10px;
}

.burner-form {
    position: relative;
    height: 100px;
    padding: 8px 0;
}

.burner form .form-input {
    padding: 6px 0;
}

.burner form .form-input>span {
    color: #eee;
    font-family: Arial, Verdana, Tahoma, sans-serif;
    display: inline-block;
    width: 80px;
    text-align: right;
}

.burner form .form-input>select {
    border: none;
    outline: none;
    padding: 2px 4px;
    border-radius: 4px;
}

.burner form .form-button {
    position: absolute;
    right: 10px;
    top: 10px;
}

.burner form .form-button>button {
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #eee;
    font-weight: bolder;
    display: block;
    margin-bottom: 12px;
}

.terminal {
    width: 100%;
    height: calc(100% - 110px);
    margin-top: 10px;
}

.terminal>textarea {
    width: 100%;
    resize: none;
    font-size: 14px;
    color: #eee;
    background-color: #212223;
    padding: 8px 8px 0 8px;
    outline: none;
    height: 100%;
    border: none;
    font-family: Arial, Verdana, Tahoma, sans-serif;
}

.terminal>textarea::-webkit-scrollbar {
    width: 4px;
    background-color: #222;
    color: #919192;
}

.terminal>textarea::-webkit-scrollbar-thumb {
    background-color: #dcdcde;
}

.terminal>textarea::-webkit-scrollbar-track {
    background-color: #222;
}

#btn_erase {
    background-color: orange;
}

#btn_burn {
    background-color: rgb(0, 105, 201);
    padding: 8px 19px;
}

.clear {
    clear: both;
}

.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.45);
}

.mask .progress-bar {
    position: absolute;
    top: 0;
    left: 5%;
    bottom: 0;
    margin: auto 0;
    width: 90%;
    height: 6px;
    background-color: rgb(20, 186, 20);
    border-radius: 6px;
}

.waiting {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.82);
}

.waiting .circle {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 160px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 100px;
    border: 3px solid #fff;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    animation: round 2s cubic-bezier(0.25, 1, 0.6, 1) infinite;
}

@keyframes round {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}