name="logging"
folder="h2/logging"
user="sa"
password=""
loginTimeout=I"40"
tables.1.name="logs"
tables.1.maxRows=I"262144"
tables.1.keys.1="logentry"
tables.1.indexes.1="LOGS"
tables.1.columns.1.name="id"
tables.1.columns.1.type="INT IDENTITY(1,1)"
tables.1.columns.1.isPrimary=B"true"
tables.1.columns.1.isId=B"true"
tables.1.columns.1.index="LOGS"
tables.1.columns.1.order="DESC"
tables.1.columns.2.name="logger"
tables.1.columns.2.type="VARCHAR"
tables.1.columns.3.name="level"
tables.1.columns.3.type="INT"
tables.1.columns.4.name="message"
tables.1.columns.4.type="VARCHAR"
tables.1.columns.5.name="thread"
tables.1.columns.5.type="VARCHAR"
tables.1.columns.6.name="timestamp"
tables.1.columns.6.type="BIGINT"
tables.2.name="version"
tables.2.columns.1.name="id"
tables.2.columns.1.type="INT IDENTITY(1,1)"
tables.2.columns.1.isId=B"true"
tables.2.columns.2.name="chariotVersion"
tables.2.columns.2.type="VARCHAR"
tables.2.columns.3.name="buildTimestamp"
tables.2.columns.3.type="VARCHAR"
tables.2.columns.4.name="buildPlatform"
tables.2.columns.4.type="VARCHAR"
