* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #333;
}

#main {
    position: absolute;
    width: 820px;
    height: 200px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 16px 20px;
}

#main .title {
    color: #eee;
    font-family: Arial;
    user-select: none;
}

#main .box {
    padding: 20px 24px;
    margin: 10px auto;
}

#main .box > img {
    display: block;
    float: left;
    margin-right: 16px;
}

#main .box > span {
    color: #d81e06;
    font-family: Verdana;
    font-size: 18px;
    line-height: 32px;
    display: block;
    float: left;
}

#main .bottom > button {
    font-size: 20px;
    border: none;
    outline: none;
    padding: 6px;
    cursor: pointer;
    float: right;
    margin-left: 4px;
    font-family: Verdana;
    border-radius: 6px;
    background-color: transparent;
    text-decoration: underline;
}

#main .bottom > button#btn_install {
    color: rgb(0, 105, 201);
}

#main .bottom > button#btn_skip {
    color: darkgray;
}

#main .bottom > button#btn_cancel {
    color: darkgray;
}

.clear {
    clear: both;
}