name="default"
folder="h2/default"
user="sa"
password=""
loginTimeout=I"40"
tables.1.name="accounts"
tables.1.keys.1="account"
tables.1.columns.1.name="id"
tables.1.columns.1.type="INT IDENTITY(1,1)"
tables.1.columns.1.isPrimary=B"true"
tables.1.columns.2.name="accountName"
tables.1.columns.2.type="VARCHAR (255)"
tables.1.columns.2.isId=B"true"
tables.1.columns.3.name="accountDescription"
tables.1.columns.3.type="VARCHAR (255)"
tables.1.columns.4.name="meta_createdBy"
tables.1.columns.4.type="VARCHAR (255)"
tables.1.columns.5.name="meta_createdOn"
tables.1.columns.5.type="BIGINT"
tables.1.columns.6.name="meta_modifiedBy"
tables.1.columns.6.type="VARCHAR (255)"
tables.1.columns.7.name="meta_modifiedOn"
tables.1.columns.7.type="BIGINT"
tables.1.columns.8.name="accountId"
tables.1.columns.8.type="VARCHAR (255)"
tables.2.name="users"
tables.2.keys.1="user"
tables.2.columns.1.name="id"
tables.2.columns.1.type="INT IDENTITY(1,1)"
tables.2.columns.1.isPrimary=B"true"
tables.2.columns.2.name="username"
tables.2.columns.2.type="VARCHAR (255)"
tables.2.columns.2.isId=B"true"
tables.2.columns.3.name="meta_createdBy"
tables.2.columns.3.type="VARCHAR (255)"
tables.2.columns.4.name="meta_createdOn"
tables.2.columns.4.type="BIGINT"
tables.2.columns.5.name="meta_modifiedBy"
tables.2.columns.5.type="VARCHAR (255)"
tables.2.columns.6.name="meta_modifiedOn"
tables.2.columns.6.type="BIGINT"
tables.2.columns.7.name="accountId"
tables.2.columns.7.type="VARCHAR (255)"
tables.2.columns.8.name="password_value"
tables.2.columns.8.type="VARCHAR (255)"
tables.2.columns.9.name="password_salt"
tables.2.columns.9.type="BINARY(32)"
tables.2.columns.10.name="password_algorithm"
tables.2.columns.10.type="VARCHAR (255)"
tables.2.columns.11.name="password_hashIterations"
tables.2.columns.11.type="INT"
tables.2.columns.12.name="roles"
tables.2.columns.12.type="VARCHAR"
tables.2.columns.13.name="permissions"
tables.2.columns.13.type="VARCHAR"
tables.2.columns.14.name="firstName"
tables.2.columns.14.type="VARCHAR (255)"
tables.2.columns.15.name="lastName"
tables.2.columns.15.type="VARCHAR (255)"
tables.2.columns.16.name="phoneNumber"
tables.2.columns.16.type="VARCHAR (255)"
tables.2.columns.17.name="email"
tables.2.columns.17.type="VARCHAR (255)"
tables.2.columns.18.name="company"
tables.2.columns.18.type="VARCHAR (255)"
tables.2.columns.19.name="address_number"
tables.2.columns.19.type="INT"
tables.2.columns.20.name="address_street"
tables.2.columns.20.type="VARCHAR (255)"
tables.2.columns.21.name="address_city"
tables.2.columns.21.type="VARCHAR (255)"
tables.2.columns.22.name="address_province"
tables.2.columns.22.type="VARCHAR (255)"
tables.2.columns.23.name="address_zip"
tables.2.columns.23.type="VARCHAR (255)"
tables.2.columns.24.name="address_country"
tables.2.columns.24.type="VARCHAR (255)"
tables.3.name="mqttusers"
tables.3.keys.1="mqttuser"
tables.3.columns.1.name="id"
tables.3.columns.1.type="INT IDENTITY(1,1)"
tables.3.columns.1.isPrimary=B"true"
tables.3.columns.2.name="username"
tables.3.columns.2.type="VARCHAR (255)"
tables.3.columns.2.isId=B"true"
tables.3.columns.3.name="meta_createdBy"
tables.3.columns.3.type="VARCHAR (255)"
tables.3.columns.4.name="meta_createdOn"
tables.3.columns.4.type="BIGINT"
tables.3.columns.5.name="meta_modifiedBy"
tables.3.columns.5.type="VARCHAR (255)"
tables.3.columns.6.name="meta_modifiedOn"
tables.3.columns.6.type="BIGINT"
tables.3.columns.7.name="accountId"
tables.3.columns.7.type="VARCHAR (255)"
tables.3.columns.8.name="password_value"
tables.3.columns.8.type="VARCHAR (255)"
tables.3.columns.9.name="password_salt"
tables.3.columns.9.type="BINARY(32)"
tables.3.columns.10.name="password_algorithm"
tables.3.columns.10.type="VARCHAR (255)"
tables.3.columns.11.name="password_hashIterations"
tables.3.columns.11.type="INT"
tables.3.columns.12.name="acl_subscribe"
tables.3.columns.12.type="VARCHAR"
tables.3.columns.13.name="acl_publish"
tables.3.columns.13.type="VARCHAR"
tables.4.name="roles"
tables.4.keys.1="role"
tables.4.columns.1.name="id"
tables.4.columns.1.type="INT IDENTITY(1,1)"
tables.4.columns.1.isPrimary=B"true"
tables.4.columns.2.name="name"
tables.4.columns.2.type="VARCHAR (255)"
tables.4.columns.2.isId=B"true"
tables.4.columns.3.name="meta_createdBy"
tables.4.columns.3.type="VARCHAR (255)"
tables.4.columns.4.name="meta_createdOn"
tables.4.columns.4.type="BIGINT"
tables.4.columns.5.name="meta_modifiedBy"
tables.4.columns.5.type="VARCHAR (255)"
tables.4.columns.6.name="meta_modifiedOn"
tables.4.columns.6.type="BIGINT"
tables.4.columns.7.name="accountId"
tables.4.columns.7.type="VARCHAR (255)"
tables.4.columns.8.name="permissions"
tables.4.columns.8.type="VARCHAR"
tables.5.name="licenses"
tables.5.keys.1="license"
tables.5.columns.1.name="id"
tables.5.columns.1.type="INT IDENTITY(1,1)"
tables.5.columns.1.isPrimary=B"true"
tables.5.columns.2.name="licenseName"
tables.5.columns.2.type="VARCHAR (255)"
tables.5.columns.2.isId=B"true"
tables.5.columns.3.name="state"
tables.5.columns.3.type="VARCHAR"
tables.5.columns.4.name="licenseType"
tables.5.columns.4.type="INT"
tables.5.columns.5.name="licenseString"
tables.5.columns.5.type="VARCHAR"
tables.5.columns.6.name="activatedLicenseType"
tables.5.columns.6.type="INT"
tables.5.columns.7.name="activatedLicenseString"
tables.5.columns.7.type="VARCHAR"
tables.5.columns.8.name="activationServerAddress"
tables.5.columns.8.type="VARCHAR"
tables.5.columns.9.name="meta_createdBy"
tables.5.columns.9.type="VARCHAR (255)"
tables.5.columns.10.name="meta_createdOn"
tables.5.columns.10.type="BIGINT"
tables.5.columns.11.name="meta_modifiedBy"
tables.5.columns.11.type="VARCHAR (255)"
tables.5.columns.12.name="meta_modifiedOn"
tables.5.columns.12.type="BIGINT"
tables.5.columns.13.name="customHardwareId"
tables.5.columns.13.type="VARCHAR"
tables.5.columns.14.name="activatedOnline"
tables.5.columns.14.type="BOOLEAN"
tables.6.name="eulas"
tables.6.keys.1="eula"
tables.6.columns.1.name="id"
tables.6.columns.1.type="INT IDENTITY(1,1)"
tables.6.columns.1.isPrimary=B"true"
tables.6.columns.2.name="name"
tables.6.columns.2.type="VARCHAR (255)"
tables.6.columns.2.isId=B"true"
tables.6.columns.3.name="isAccepted"
tables.6.columns.3.type="BOOLEAN"
tables.6.columns.4.name="acceptedOn"
tables.6.columns.4.type="BIGINT"
tables.7.name="servers"
tables.7.keys.1="server"
tables.7.columns.1.name="id"
tables.7.columns.1.type="INT IDENTITY(1,1)"
tables.7.columns.1.isPrimary=B"true"
tables.7.columns.2.name="name"
tables.7.columns.2.type="VARCHAR (255)"
tables.7.columns.2.isId=B"true"
tables.7.columns.3.name="isStopped"
tables.7.columns.3.type="BOOLEAN"
tables.7.columns.4.name="stoppedOn"
tables.7.columns.4.type="BIGINT"
tables.8.name="uploads"
tables.8.keys.1="upload"
tables.8.columns.1.name="id"
tables.8.columns.1.type="INT IDENTITY(1,1)"
tables.8.columns.1.isPrimary=B"true"
tables.8.columns.2.name="fileId"
tables.8.columns.2.type="VARCHAR"
tables.8.columns.2.isId=B"true"
tables.8.columns.3.name="filename"
tables.8.columns.3.type="VARCHAR"
tables.8.columns.4.name="timestamp"
tables.8.columns.4.type="BIGINT"
tables.9.name="system"
tables.9.keys.1="system"
tables.9.columns.1.name="id"
tables.9.columns.1.type="INT IDENTITY(1,1)"
tables.9.columns.1.isPrimary=B"true"
tables.9.columns.2.name="systemName"
tables.9.columns.2.type="VARCHAR"
tables.9.columns.2.isId=B"true"
tables.9.columns.3.name="isSslSetup"
tables.9.columns.3.type="BOOLEAN"
tables.9.columns.4.name="setupOn"
tables.9.columns.4.type="BIGINT"
tables.9.columns.5.name="privateKeyFilename"
tables.9.columns.5.type="VARCHAR"
tables.9.columns.6.name="caChainFilename"
tables.9.columns.6.type="VARCHAR"
tables.9.columns.7.name="certificateFilename"
tables.9.columns.7.type="VARCHAR"
tables.10.name="mqttevents"
tables.10.maxRows=I"655360"
tables.10.keys.1="mqttevent"
tables.10.indexes.1="MQTTEVENTS"
tables.10.columns.1.name="id"
tables.10.columns.1.type="INT IDENTITY(1,1)"
tables.10.columns.1.isId=B"true"
tables.10.columns.1.index="MQTTEVENTS"
tables.10.columns.1.order="DESC"
tables.10.columns.2.name="clientId"
tables.10.columns.2.type="VARCHAR (255)"
tables.10.columns.3.name="clientIp"
tables.10.columns.3.type="VARCHAR (255)"
tables.10.columns.4.name="message"
tables.10.columns.4.type="VARCHAR"
tables.10.columns.5.name="type"
tables.10.columns.5.type="INT"
tables.10.columns.6.name="timestamp"
tables.10.columns.6.type="BIGINT"
tables.11.name="alerts"
tables.11.maxRows=I"65536"
tables.11.mergeTables=B"true"
tables.11.keys.1="alert"
tables.11.indexes.1="ALERTS"
tables.11.columns.1.name="id"
tables.11.columns.1.type="INT IDENTITY(1,1)"
tables.11.columns.1.isPrimary=B"true"
tables.11.columns.1.isId=B"true"
tables.11.columns.1.index="ALERTS"
tables.11.columns.1.order="DESC"
tables.11.columns.2.name="type"
tables.11.columns.2.type="VARCHAR (255)"
tables.11.columns.3.name="activeTime"
tables.11.columns.3.type="BIGINT"
tables.11.columns.4.name="description"
tables.11.columns.4.type="VARCHAR"
tables.11.columns.5.name="acknowledged"
tables.11.columns.5.type="BOOLEAN"
tables.11.columns.6.name="cleared"
tables.11.columns.6.type="BOOLEAN"
tables.11.columns.7.name="deleted"
tables.11.columns.7.type="BOOLEAN"
tables.11.columns.8.name="priority"
tables.11.columns.8.type="INT"
tables.11.columns.9.name="severity"
tables.11.columns.9.type="INT"
tables.11.columns.10.name="meta_createdBy"
tables.11.columns.10.type="VARCHAR (255)"
tables.11.columns.11.name="meta_createdOn"
tables.11.columns.11.type="BIGINT"
tables.11.columns.12.name="meta_modifiedBy"
tables.11.columns.12.type="VARCHAR (255)"
tables.11.columns.13.name="meta_modifiedOn"
tables.11.columns.13.type="BIGINT"
tables.12.name="alerttypes"
tables.12.keys.1="alerttype"
tables.12.columns.1.name="id"
tables.12.columns.1.type="INT IDENTITY(1,1)"
tables.12.columns.1.isPrimary=B"true"
tables.12.columns.2.name="name"
tables.12.columns.2.type="VARCHAR (255)"
tables.12.columns.2.isId=B"true"
tables.12.columns.3.name="path"
tables.12.columns.3.type="VARCHAR (255)"
tables.12.columns.4.name="priority"
tables.12.columns.4.type="INT"
tables.12.columns.5.name="severity"
tables.12.columns.5.type="INT"
tables.12.columns.6.name="enabled"
tables.12.columns.6.type="BOOLEAN"
tables.13.name="version"
tables.13.columns.1.name="id"
tables.13.columns.1.type="INT IDENTITY(1,1)"
tables.13.columns.1.isId=B"true"
tables.13.columns.2.name="chariotVersion"
tables.13.columns.2.type="VARCHAR"
tables.13.columns.3.name="buildTimestamp"
tables.13.columns.3.type="VARCHAR"
tables.13.columns.4.name="buildPlatform"
tables.13.columns.4.type="VARCHAR"
tables.14.name="bridgeclients"
tables.14.keys.1="bridgeclient"
tables.14.columns.1.name="id"
tables.14.columns.1.type="INT IDENTITY(1,1)"
tables.14.columns.1.isPrimary=B"true"
tables.14.columns.2.name="name"
tables.14.columns.2.type="VARCHAR (255)"
tables.14.columns.2.isId=B"true"
tables.14.columns.3.name="meta_createdBy"
tables.14.columns.3.type="VARCHAR (255)"
tables.14.columns.4.name="meta_createdOn"
tables.14.columns.4.type="BIGINT"
tables.14.columns.5.name="meta_modifiedBy"
tables.14.columns.5.type="VARCHAR (255)"
tables.14.columns.6.name="meta_modifiedOn"
tables.14.columns.6.type="BIGINT"
tables.14.columns.7.name="accountId"
tables.14.columns.7.type="VARCHAR (255)"
tables.14.columns.8.name="username"
tables.14.columns.8.type="VARCHAR (255)"
tables.14.columns.9.name="password"
tables.14.columns.9.type="VARCHAR (255)"
tables.14.columns.10.name="address"
tables.14.columns.10.type="VARCHAR (255)"
tables.14.columns.11.name="port"
tables.14.columns.11.type="INT"
tables.14.columns.12.name="clientId"
tables.14.columns.12.type="VARCHAR (255)"
tables.14.columns.13.name="keepAlive"
tables.14.columns.13.type="INT"
tables.14.columns.14.name="cleanSession"
tables.14.columns.14.type="BOOLEAN"
tables.14.columns.15.name="allowRetained"
tables.14.columns.15.type="BOOLEAN"
tables.14.columns.16.name="tryPrivate"
tables.14.columns.16.type="BOOLEAN"
tables.14.columns.17.name="subTopics"
tables.14.columns.17.type="VARCHAR"
tables.14.columns.18.name="pubTopics"
tables.14.columns.18.type="VARCHAR"
tables.14.columns.19.name="useTls"
tables.14.columns.19.type="BOOLEAN"
tables.14.columns.20.name="enabled"
tables.14.columns.20.type="BOOLEAN"
tables.15.name="authsources"
tables.15.keys.1="authsource"
tables.15.columns.1.name="id"
tables.15.columns.1.type="INT IDENTITY(1,1)"
tables.15.columns.1.isPrimary=B"true"
tables.15.columns.2.name="name"
tables.15.columns.2.type="VARCHAR (255)"
tables.15.columns.2.isId=B"true"
tables.15.columns.3.name="meta_createdBy"
tables.15.columns.3.type="VARCHAR (255)"
tables.15.columns.4.name="meta_createdOn"
tables.15.columns.4.type="BIGINT"
tables.15.columns.5.name="meta_modifiedBy"
tables.15.columns.5.type="VARCHAR (255)"
tables.15.columns.6.name="meta_modifiedOn"
tables.15.columns.6.type="BIGINT"
tables.15.columns.7.name="accountId"
tables.15.columns.7.type="VARCHAR (255)"
tables.15.columns.8.name="sourceType"
tables.15.columns.8.type="VARCHAR"
tables.15.columns.9.name="enabled"
tables.15.columns.9.type="BOOLEAN"
tables.15.columns.10.name="host"
tables.15.columns.10.type="VARCHAR"
tables.15.columns.11.name="port"
tables.15.columns.11.type="VARCHAR"
tables.15.columns.12.name="useTls"
tables.15.columns.12.type="BOOLEAN"
tables.15.columns.13.name="sysUsername"
tables.15.columns.13.type="VARCHAR"
tables.15.columns.14.name="sysPassword"
tables.15.columns.14.type="VARCHAR"
tables.15.columns.14.isEncrypted=B"true"
tables.15.columns.15.name="referral"
tables.15.columns.15.type="VARCHAR"
tables.15.columns.16.name="connectTimeout"
tables.15.columns.16.type="INT"
tables.15.columns.17.name="readTimeout"
tables.15.columns.17.type="INT"
tables.15.columns.18.name="userDnTemplate"
tables.15.columns.18.type="VARCHAR"
tables.15.columns.19.name="groupSearchBase"
tables.15.columns.19.type="VARCHAR"
tables.15.columns.20.name="groupSearchFilter"
tables.15.columns.20.type="VARCHAR"
tables.15.columns.21.name="groupNameAttribute"
tables.15.columns.21.type="VARCHAR"
tables.15.columns.22.name="groupMemberAttribute"
tables.15.columns.22.type="VARCHAR"
tables.15.columns.23.name="groupMemberDnTemplate"
tables.15.columns.23.type="VARCHAR"
tables.15.columns.24.name="groupToRoleMapping"
tables.15.columns.24.type="VARCHAR"
tables.15.columns.25.name="userSearchBase"
tables.15.columns.25.type="VARCHAR"
tables.15.columns.26.name="userSearchFilter"
tables.15.columns.26.type="VARCHAR"
tables.15.columns.27.name="userListFilter"
tables.15.columns.27.type="VARCHAR"
tables.15.columns.28.name="userNameAttribute"
tables.15.columns.28.type="VARCHAR"
tables.15.columns.29.name="userFullNameAttribute"
tables.15.columns.29.type="VARCHAR"
tables.15.columns.30.name="userGroupAttribute"
tables.15.columns.30.type="VARCHAR"
tables.15.columns.31.name="cacheTimeout"
tables.15.columns.31.type="INT"
tables.15.columns.32.name="enableCache"
tables.15.columns.32.type="BOOLEAN"
tables.15.columns.33.name="domain"
tables.15.columns.33.type="VARCHAR"
tables.15.columns.34.name="autoSuffix"
tables.15.columns.34.type="BOOLEAN"
tables.15.columns.35.name="usernameSuffix"
tables.15.columns.35.type="VARCHAR"
tables.15.columns.36.name="usernamePrefix"
tables.15.columns.36.type="VARCHAR"
tables.15.columns.37.name="systemSuffixPrefix"
tables.15.columns.37.type="BOOLEAN"
tables.16.name="mqttauthconfigs"
tables.16.keys.1="mqttauthconfig"
tables.16.columns.1.name="id"
tables.16.columns.1.type="INT IDENTITY(1,1)"
tables.16.columns.1.isPrimary=B"true"
tables.16.columns.2.name="name"
tables.16.columns.2.type="VARCHAR (255)"
tables.16.columns.2.isId=B"true"
tables.16.columns.3.name="meta_createdBy"
tables.16.columns.3.type="VARCHAR (255)"
tables.16.columns.4.name="meta_createdOn"
tables.16.columns.4.type="BIGINT"
tables.16.columns.5.name="meta_modifiedBy"
tables.16.columns.5.type="VARCHAR (255)"
tables.16.columns.6.name="meta_modifiedOn"
tables.16.columns.6.type="BIGINT"
tables.16.columns.7.name="accountId"
tables.16.columns.7.type="VARCHAR (255)"
tables.16.columns.8.name="sourceType"
tables.16.columns.8.type="VARCHAR"
tables.16.columns.9.name="enabled"
tables.16.columns.9.type="BOOLEAN"
tables.16.columns.10.name="host"
tables.16.columns.10.type="VARCHAR"
tables.16.columns.11.name="port"
tables.16.columns.11.type="VARCHAR"
tables.16.columns.12.name="useTls"
tables.16.columns.12.type="BOOLEAN"
tables.16.columns.13.name="sysUsername"
tables.16.columns.13.type="VARCHAR"
tables.16.columns.14.name="sysPassword"
tables.16.columns.14.type="VARCHAR"
tables.16.columns.14.isEncrypted=B"true"
tables.16.columns.15.name="referral"
tables.16.columns.15.type="VARCHAR"
tables.16.columns.16.name="connectTimeout"
tables.16.columns.16.type="INT"
tables.16.columns.17.name="readTimeout"
tables.16.columns.17.type="INT"
tables.16.columns.18.name="baseDn"
tables.16.columns.18.type="VARCHAR"
tables.16.columns.19.name="usernameAttributeName"
tables.16.columns.19.type="VARCHAR"
tables.16.columns.20.name="pubTopicAttributeName"
tables.16.columns.20.type="VARCHAR"
tables.16.columns.21.name="subTopicAttributeName"
tables.16.columns.21.type="VARCHAR"
tables.16.columns.22.name="credentialObjectClassName"
tables.16.columns.22.type="VARCHAR"
tables.16.columns.23.name="aclCheckInterval"
tables.16.columns.23.type="BIGINT"
tables.16.columns.24.name="cacheTimeout"
tables.16.columns.24.type="INT"
tables.16.columns.25.name="enableCache"
tables.16.columns.25.type="BOOLEAN"
tables.16.columns.26.name="domain"
tables.16.columns.26.type="VARCHAR"
tables.16.columns.27.name="autoSuffix"
tables.16.columns.27.type="BOOLEAN"
tables.16.columns.28.name="usernameSuffix"
tables.16.columns.28.type="VARCHAR"
tables.16.columns.29.name="usernamePrefix"
tables.16.columns.29.type="VARCHAR"
tables.16.columns.30.name="systemSuffixPrefix"
tables.16.columns.30.type="BOOLEAN"
tables.17.name="clientprofiles"
tables.17.keys.1="clientprofile"
tables.17.columns.1.name="id"
tables.17.columns.1.type="INT IDENTITY(1,1)"
tables.17.columns.1.isPrimary=B"true"
tables.17.columns.2.name="name"
tables.17.columns.2.type="VARCHAR (255)"
tables.17.columns.2.isId=B"true"
tables.17.columns.3.name="meta_createdBy"
tables.17.columns.3.type="VARCHAR (255)"
tables.17.columns.4.name="meta_createdOn"
tables.17.columns.4.type="BIGINT"
tables.17.columns.5.name="meta_modifiedBy"
tables.17.columns.5.type="VARCHAR (255)"
tables.17.columns.6.name="meta_modifiedOn"
tables.17.columns.6.type="BIGINT"
tables.17.columns.7.name="accountId"
tables.17.columns.7.type="VARCHAR (255)"
tables.17.columns.8.name="username"
tables.17.columns.8.type="VARCHAR (255)"
tables.17.columns.9.name="password"
tables.17.columns.9.type="VARCHAR (255)"
tables.17.columns.10.name="address"
tables.17.columns.10.type="VARCHAR (255)"
tables.17.columns.11.name="port"
tables.17.columns.11.type="INT"
tables.17.columns.12.name="clientId"
tables.17.columns.12.type="VARCHAR (255)"
tables.17.columns.13.name="keepAlive"
tables.17.columns.13.type="INT"
tables.17.columns.14.name="cleanSession"
tables.17.columns.14.type="BOOLEAN"
tables.17.columns.15.name="useTls"
tables.17.columns.15.type="BOOLEAN"
tables.17.columns.16.name="lwtFlag"
tables.17.columns.16.type="BOOLEAN"
tables.17.columns.17.name="lwtTopic"
tables.17.columns.17.type="VARCHAR (255)"
tables.17.columns.18.name="lwtPayload"
tables.17.columns.18.type="VARCHAR"
tables.17.columns.19.name="lwtQos"
tables.17.columns.19.type="INT"
tables.17.columns.20.name="subscribeTopics"
tables.17.columns.20.type="VARCHAR"
tables.17.columns.21.name="autoSubscribe"
tables.17.columns.21.type="BOOLEAN"
tables.18.name="sessionsettings"
tables.18.keys.1="sessionsettings"
tables.18.columns.1.name="id"
tables.18.columns.1.type="INT IDENTITY(1,1)"
tables.18.columns.1.isPrimary=B"true"
tables.18.columns.2.name="username"
tables.18.columns.2.type="VARCHAR (255)"
tables.18.columns.2.isId=B"true"
tables.18.columns.3.name="meta_createdBy"
tables.18.columns.3.type="VARCHAR (255)"
tables.18.columns.4.name="meta_createdOn"
tables.18.columns.4.type="BIGINT"
tables.18.columns.5.name="meta_modifiedBy"
tables.18.columns.5.type="VARCHAR (255)"
tables.18.columns.6.name="meta_modifiedOn"
tables.18.columns.6.type="BIGINT"
tables.18.columns.7.name="accountId"
tables.18.columns.7.type="VARCHAR (255)"
tables.18.columns.8.name="dashboards"
tables.18.columns.8.type="VARCHAR"
tables.18.columns.9.name="darkmode"
tables.18.columns.9.type="BOOLEAN"
